<section class="max-w-2xl mx-auto px-8 pt-52" id="applications">
  <h2>
    Applications
  </h2>
  <div>
    {% markdown %}
Applications are especially welcomed from final year doctoral students and postdoctoral researchers who already have begun, or would like to initiate, collaborations with participating scientists at any of the host institutions. You are encouraged to make contact with potential host scientists before submitting your application. Funding is available for travel and living expenses for visits of up to two months.

In your application please include the following three files:

- CV (including publications).
- Description of proposed research project (4 sides maximum) - this should include details of your preferred host and their institution.
- Names and contact details of two referees.

When complete, please send all three files in a single email to [{{ administrator.name }}](mailto:{{ administrator.email }}) with the subject: "CCS Application: [your name]".

Applications for travel during the period April - September 2023, including the appointment of a Balzan Fellow at New College, Oxford, for Trinity Term 2023, will shortly be considered. Please submit by February 28th, 2023 for full consideration. 

Applications for travel during {{ application_dates.academicYear }} will also shortly be considered. Please submit by {{ application_dates.closingDate }} for full consideration. If you have any questions, [please contact {{ administrator.name }}](mailto:{{ administrator.email }}).
    {% endmarkdown %}
  </div>
</section>
