<section class="h-screen flex flex-col place-content-center px-8 bg-bottom bg-cover" style="{% heroBg './src/images/intro-bg.jpg' %}" >
  <p class="text-center text-2xl mb-10 text-shadow">
    New College, University of Oxford
    <br />
    Johns Hopkins University
  </p>
  <h1 class="text-center text-7xl text-shadow">
    Centre for Cosmological Studies
  </h1>
</section>
