<h2>Applications</h2>

<p>Applications are especially welcomed from final year doctoral students and postdoctoral researchers who already have begun, or would like to initiate, collaborations with participating scientists at any of the host institutions. You are encouraged to make contact with potential host scientists before submitting your application. Funding is available for travel and living expenses for visits of up to two months. </p>

<p>In your application please include the following three files:</p>

<ul>
    <li>CV (including publications).</li>
    <li>Description of proposed research project (4 sides maximum) - this should include details of your preferred host and their institution.</li>
    <li>Names and contact details of two referees.</li>
</ul>

<p>When complete, please send all three files in a single email to <a href="mailto:ashling.gordon@physics.ox.ac.uk">Ashling Gordon</a> with the subject: "CCS Application: [your name]".</p>

<p>Applications for travel during 2019/20 will shortly be considered. Please sumbit by June 7th 2019 for full consideration. If you have any questions, please contact Ashling Gordon on the above address.</p>
