<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ manifest['main.css'] }}" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ description }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_gb" />
    <meta property="og:image" content="{{ env.baseUrl }}{% ogImage './src/images/og-image.jpg' %}" />
  </head>
  <body class="text-lg bg-black text-white relative">
    <div id="page-top" data-page-top class="absolute top-0"></div>
    <header class="uppercase p-6 fixed top-0 w-full transition bg-transparent duration-500 tracking-wide" data-header>
      <nav class="flex flex-row gap-x-6 justify-between items-center text-base font-semibold">
        <a href="#" class="text-white hover:text-teal">
          Home
        </a>
        <ul class="flex justify-center list-none m-0">
          <li>
            <a href="#about" class="text-white hover:text-teal mr-8">
              About
            </a>
          </li>
          <li>
            <a href="#organisation" class="text-white hover:text-teal mr-8">
              Organisation
            </a>
          </li>
          <li>
            <a href="#applications" class="text-white hover:text-teal mr-8">
              Applications
            </a>
          </li>
          <li>
            <a href="#contact" class="text-white hover:text-teal">
              Contact
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <script src="{{ manifest['main.js'] }}"></script>
  </body>
</html>
